<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="C:\Users\uppar\cucumber workspace\RRL_Project\src\test\java\Report\Report2.java"></listener>   
<listener class-name="C:\Users\uppar\cucumber workspace\RRL_Project\src\test\java\Filedtestcase\IRetryListener.java" ></listener>                                               
</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="C:\Users\uppar\cucumber workspace\RRL_Project\src\test\java\Runner\managetestrunner.java"/>
     
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
